.IG_SN_DIG{
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    z-index: 500;
}
.IG_SN_DIG.hidden{
    display:none;
}
.IG_SN_DIG_BG{
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    z-index:502;
    background: rgba(0,0,0,.75);
}
.IG_SN_DIG_MAIN{
    z-index: 510;
    padding:10px 15px;
    top:7%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    background:#fff;
    background: rgb(var(--ig-secondary-background));
    color: #000;
    color: rgb(var(--ig-primary-text));
    border-radius: 7px;
}
.IG_SN_DIG_BODY{
    min-height: 100px;
    max-height: 70vh;
    overflow-y:auto;
}
.IG_SN_DIG_BODY a{
    display:block;
    padding:5px 0px;
    color: #111;
    color: rgb(var(--ig-primary-text));
    font-size:1rem;
    line-height:1rem;
    text-align:center;
    border-radius: 5px;
}
.SNKMS_IG_DW_MAIN, .SNKMS_IG_NEWTAB_MAIN, .SNKMS_IG_THUMBNAIL_MAIN{
    position: absolute;
    top:15px;
    padding:6px;
    line-height:0;
    background:#fff;
    border-radius: 50%;
    cursor:pointer;
    color: #000;
}
#_SNLOAD{
    text-align:center;
    font-size:20px;
}
.IG_REELS, .IG_DWSTORY, .IG_DWHISTORY{
    position: absolute;
    right:40px;
    top:15px;
    padding:5px;
    line-height:0;
    background:#fff;
    border-radius: 5px;
    cursor:pointer;
    z-index: 5;
}

.IG_REELSNEWTAB, .IG_DWNEWTAB, .IG_DWHINEWTAB{
    position: absolute;
    right:40px;
    top:45px;
    padding:5px;
    line-height:0;
    background:#fff;
    border-radius: 5px;
    cursor:pointer;
    z-index: 5;
}

.IG_REELS_THUMBNAIL, .IG_DWSTORY_THUMBNAIL, .IG_DWHISTORY_THUMBNAIL{
    position: absolute;
    right:40px;
    top:75px;
    padding:5px;
    line-height:1;
    background:#fff;
    border-radius: 5px;
    cursor:pointer;
    z-index: 5;
}
.IG_DWSTORY, .IG_DWHISTORY, .IG_DWSTORY_THUMBNAIL, .IG_DWHISTORY_THUMBNAIL, .IG_DWNEWTAB, .IG_DWHINEWTAB{
    right:-40px;
    color: #000;
}
.IG_DWPROFILE{
    position: absolute;
    right:0px;
    top:0px;
    padding:5px;
    line-height:1;
    background:#fff;
    border-radius: 50%;
    cursor:pointer;
    border: 1px solid #ccc
}
.globalSettings{
    position:relative;
    display:inline-block;
    color: #000;
    color: rgb(var(--ig-primary-text));
    text-decoration:none;
    text-align:left;
    width:100%;
    min-height:30px;
    padding:5px;
    padding-right:60px;
    line-height:18px;
    font-size:18px;
    box-sizing: border-box;
    border-radius:5px;
    vertical-align:middle;
    outline:none;
    cursor:pointer;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    margin: 5px 0px;
}
.globalSettings:hover{
    background: #e7e7e7;
    background: rgb(var(--ig-secondary-button-hover));
}
.globalSettings:hover > span{
    cursor: help;
}
.globalSettings input {
    display: none;
}
.globalSettings .chbtn {
    width: 40px;
    height: 15px;
    background: #9c9c9c;
    display: inline-block;
    vertical-align: middle;
    border-radius: 7px;
    position: absolute;
    right: 15px;
    top: 50%;
    transition: background 0.2s;
    transform: translateY(-50%);
}
.globalSettings .chbtn .rounds {
    width: 20px;
    height: 20px;
    background: #777;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    position: absolute;
    left: 0px;
    top: -3px;
    transition: left 0.15s,background 0.15s;
}
.globalSettings input:checked ~ .chbtn{
    background: #004c5a;
}
.globalSettings input:checked ~ .chbtn .rounds{
    left: 20px;
    background: #048aa4;
}
.checkbox{
    font-size: 18px;
    vertical-align: middle;
    margin: 0px 7px;
    user-select: none;
    margin-left: 0px;
}
.checkbox input{
    transform: scale(1.5);
    margin-right: 10px;
}
.inner_box_wrapper{
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 50px;
    height: 100%;
    border-right: 1px solid;
    background: #e7e7e7;
    background: rgb(var(--ig-secondary-button-hover));
    cursor: pointer;
    border-radius: 7px 0px 0px 7px;
}
.inner_box ~ span{
    position: relative;
    height: 100%;
    width: 100%;
    display: block;
    border-radius: 7px 0px 0px 7px;
}
.inner_box:checked ~ span{
    background: rgb(var(--ig-success));
}
.inner_box ~ span:after {
    content: "";
    position: absolute;
    display: none;
    left: 12px;
    top: 50%;
    width: 10px;
    height: 20px;
    margin-top: -8px;
    border: solid black;
    border: solid rgb(var(--ig-primary-text));
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg) translateY(-50%);
    -ms-transform: rotate(45deg) translateY(-50%);
    transform: rotate(45deg) translateY(-50%);
}
.inner_box:checked ~ span:after{
    display:block;
}
.inner_box{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: scale(2.5) translateY(-50%);
    cursor: pointer;
    appearance: none;
    opacity: 0;
}
.IG_SN_DIG_BODY > div{
    position: relative;
    border:1px solid #000;
    border:1px solid rgb(var(--ig-primary-text));
    margin: 5px 0px;
    border-radius: 7px;
}
.IG_SN_DIG_BODY > div:hover{
    background: rgba(var(--ig-hover-overlay));
}
.IG_SN_DIG_TITLE{
    padding-bottom: 5px;
}
.IG_SN_DIG_TITLE button{
    font-size: 14px;
    vertical-align: middle;
    margin: 0px 7px;
}
kbd {
    font-weight: bold;
    padding: 4px 5px;
    background: rgb(var(--ig-primary-background));
    border-radius: 3px;
    border: 1px solid rgb(var(--ig-primary-text));
}

.globalSettings #tempWrapper{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 100%;
    background: #fff;
    background: rgb(var(--ig-secondary-background));
}
.globalSettings #tempWrapper input[type="range"]{
    display: inline-block;
    width: 80%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.globalSettings #tempWrapper input[type="number"]{
    display: inline-block;
    width: 50px;
    border-radius: 7px;
    outline: 0px;
    background: transparent;
    border: 1px solid;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#scrollWrapper{
    position: fixed;
    right: 15px;
    bottom: 15px;
}
#scrollWrapper .button-up, #scrollWrapper .button-down{
    width: 32px;
    height: 32px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.25);
    background-color: rgba(var(--ig-banner-background));
    cursor: pointer;
    margin: 5px 0px;--ig-banner-background;
    border: 1px solid;
    border-color: rgb(var(--ig-separator));
}
#scrollWrapper .button-up:hover, #scrollWrapper .button-down:hover{
    width: 32px;
    height: 32px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.25);
    background-color: rgba(var(--ig-hover-overlay));
    cursor: pointer;
    margin: 5px 0px;
}
#scrollWrapper .button-up > div, #scrollWrapper .button-down > div{
    position: relative;
    border: solid #000;
    border: solid rgb(var(--ig-primary-text));
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 4px;
    left: 9.5px;
}
#scrollWrapper .button-up > div{
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    top: 9px;
}
#scrollWrapper .button-down > div{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    top: 6px;
}

.IG_SN_DIG_BODY .newTab{
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 3;
    padding: 7px;
    cursor: pointer;
    line-height: 0;
    border-radius: 5px;
}

.IG_SN_DIG_BODY .videoThumbnail{
    position: absolute;
    right: 0px;
    top: 40px;
    z-index: 3;
    padding: 7px;
    cursor: pointer;
    line-height: 0;
    border-radius: 5px;
}

.IG_SN_DIG_BODY .newTab:hover, .IG_SN_DIG_BODY .videoThumbnail:hover{
    background: rgb(var(--ig-secondary-button-hover));
}

.IG_SN_DIG_BODY .newTab svg, .IG_SN_DIG_BODY .videoThumbnail svg{
    fill: rgb(var(--ig-primary-text));
}

.IG_SN_DIG_BTN{
    cursor:pointer;
    position:absolute;
    right:0px;
    top:0px;
    fill: rgb(var(--ig-primary-text));
    line-height: 0;
}

#tempWrapper .IG_SN_DIG_BTN{
    right: 5px;
    transform: translateY(-50%);
    top: 50%;
}
